$border: #a8a8a8;

body {
  padding: 10px;
}

.border {
  border:1px solid #000;
  width: 80%;
}

tr {
  box-sizing: border-box;
}


.paginate {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
}


thead {
  tr {
    td {
      background: linear-gradient(to bottom, #f7f7f7 0%, #efefef 13%, #e6e6e6 100%);
      border-bottom: 1px solid $border;
      border-right: 1px solid $border;
      position: relative;

      &:first-child {
        width: 50px;
      }

      div.displayName {
        padding-left: 5px;
      }

      .resize {
        position: absolute;
        top: 0px;
        right: 0px;
        cursor: e-resize;
        border-left: 1px solid $border;
        width: 10px;
        height: 100%;
        z-index: 100000;
      }
    }
  }
}

tbody {
  tr:nth-child(even) {background: #f2f7ff}
}
