.customTable {
  border: 1px solid #000;

  tr {
    box-sizing: border-box;
  }
  
  tbody {
    tr:nth-child(even) {background: #f2f7ff}
  }

  thead {
    tr {
      background-color: #ccc;
    }
  }
}
