html, body {
  height:100%;
  padding: 0px;
  margin: 0px;
}

.table {
  height: 440px;
  width: 100%;
  overflow: hidden;

  .table-header {
    & > div {
      display: flex;
      background-color: #fff;
      width: 100%;
    }
  }

  .table-list {
    display: flex;
    height: calc(100% - 40px);
    width: 100%;

    .table-list-items {
      width: calc(100% - 15px);
      height: 100%;

      & > div {
        display: flex;
      }
    }
  }
}
