html, body, div{
  height: 100%;
}

div.float {
  float: left;
  height: 100%;
  width: 32%;
}

div.overflow {
  height: 50%;
}

svg.el g.current rect {
  fill: black;
}

svg.heat g.current rect {
  fill: red;
}
